
        <div class="container">
            <form id="editcat" action="/usergroup/update/<%= usergroup.id %>" method="POST" class="form-signin">
                <h2>Редактирование группы пользователей</h2>
                <br>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Название" name="name" required value="<%= usergroup.name %>">
                </div>
                <br>
                <div class="input-group">
                    <input type="submit" , class="btn btn-lg btn-primary btn-block" value="ОК">
                </div>
                <br>
                <input type="hidden" name="_csrf" value="<%= _csrf %>">
            </form>
        </div>