<div class="container">
        <h1>Группы пользователей</h1>
        <br>
            <table class="table table-hover table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Название</th>
                        <th scope="col">Действия</th>
                      </tr>
                    </thead>
                    <tbody>
                           
                      <% usergroup.forEach(function(cat, i, arr) { %>
                        <tr>
                        <th scope="row"><%= cat.id %></th>
                        <td><%= cat.name %></td>
                        <td><a class="btn btn-warning" href="/usergroup/edit/<%= cat.id %>" role="button">Редактировать</a>
                            <a class="btn btn-danger" href="/usergroup/delete/<%= cat.id %>" role="button">Удалить</a>
                        </td>
                    </tr>
                     <% }); %>
    
                    </tbody>
                  </table>
                  <a class="btn btn-success" href="/usergroup/add" role="button">Добавить новую</a>
    </div>
    <hr>