<% moment.lang("ru"); %>
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <% articles.forEach(function(article, i, arr) { %>
      <div class="blog-post">
        <h2 class="blog-post-title"><%= article.name %></h2>
        <hr>
        <div class="row">
          <div class="col-12 col-md-8">
            <div class="blog-post-meta"><%= moment(article.postDate).format("MMMM Do YYYY, h:mm:ss a") %>, автор
              <a href="/user/<%= article.author.id %>"><%= article.author.name %> <%= article.author.lastname %></a>
            </div>
          </div>
          <div class="col-6 col-md-4">
            <% if(req.session.User) { %>
              <% if(req.session.User.usergroup == 2) { %>
                <a class="btn btn-sm btn-block text-white btn-danger" href="/article/delete/<%= article.id %>" >Удалить</a>
                <a class="btn btn-sm btn-block text-white btn-warning" href="/article/edit/<%= article.id %>" >Редактировать</a>
                <% }}; %>
          </div>
        </div>
        <hr>
        <span>Категории: 
          <% article.categories.forEach(function(category, i, arr) { %>
            <a href="/category/<%= category.id %>"><%= category.name %></a><span> </span>
            <%});%>
        </span>
        <hr>
        <br>
        <%- article.content %>
        <hr>
        <br>
        <br>
      </div>
  
      <% }); %>
      <!-- /.blog-post -->
    </div>
    <!-- /.blog-main -->



    <aside class="col-md-4 blog-sidebar">
      <% if(!req.session.authenticated) { %>
        <div class="p-3 mb-3 bg-light rounded">
          
          <h4 class="font-italic">Вход</h4>
          
          <form id="registerUser" action="/user/login" method="POST" class="form-signin">
            <br>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Логин" name="login" required>
            </div>
            <br>
            <div class="input-group">
                <input type="password" , class="form-control" , placeholder="Пароль" name="password" required>
            </div>
            <br>
            <div class="input-group">
                <input type="submit" , class="btn btn-lg btn-success btn-block" value="ОК">
            </div>
            <br>
            <input type="hidden" name="_csrf" value="<%= _csrf %>">
        </form>
        <a class="btn btn-lg btn-primary btn-block text-white" href="/user/register" >Регистрация</a>
        </div>
        <% }; %>

          <div class="p-3">
            <h4 class="font-italic">Редакторы</h4>
            <ol class="list-unstyled mb-0">
              <li>
                <a href="/category/2">WYSIWYG</a>
              </li>
              <li>
                <a href="/category/3">Базовые</a>
              </li>
              <li>
                <a href="/category/4">Редакторы исходного кода</a>
              </li>
              <li>
                <a href="/category/5">Платные</a>
              </li>
              <li>
                <a href="/category/7">Бесплатные</a>
              </li>
            </ol>
          </div>

    </aside>
    <!-- /.blog-sidebar -->

  </div>
  <!-- /.row -->
  <hr>
</main>
<!-- /.container -->