<!DOCTYPE html>
<html>

<head>
  <title>HTML-редакторы</title>
  <meta charset="utf-8">
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


  <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/custom.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light navc">
    <a class="navbar-brand" href="/">HTML-редакторы</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <% if(req.session.User) { %>
          <% if(req.session.User.usergroup == 2) { %>
            <li class="nav-item">
              <a class="nav-link" href="/article/add">Добавить редактор</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/show">Пользователи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/usergroup/show">Группы</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/category/show">Категории</a>
                </li>
            <% }}; %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Редакторы
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/category/2">WYSIWYG</a>
                  <a class="dropdown-item" href="/category/3">Базовые</a>
                  <a class="dropdown-item" href="/category/4">Редакторы исходного кода</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/category/5">Платные</a>
                  <a class="dropdown-item" href="/category/7">Бесплатные</a>
                </div>
              </li>
      </ul>
      <% if(req.session.authenticated) {%>
        <span class="navbar-text">
          Добрый день,
          <%= req.session.User.name + ' ' + req.session.User.lastname + ' ' %> (
            <a href="/profile"><%= req.session.User.login %></a> )!
        </span>
        <a class="nav-link" href="/user/exit" role="button">Выход</a>
        <% } %>
    </div>
  </nav>
  <%- body %>


    <footer class="container">
      <p>Русинович Владислав, АВТ-512, Курсовая работа по дисциплине Web-Программирование
      <p>
        <a href="#">Вверх</a>
      </p>
    </footer>
    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <!--SCRIPTS END-->
</body>

</html>