<div class="container">
    <h1>Категории</h1>
    <br>
        <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col">Действия</th>
                  </tr>
                </thead>
                <tbody>
                       
                  <% category.forEach(function(cat, i, arr) { %>
                    <tr>
                    <th scope="row"><%= cat.id %></th>
                    <td><%= cat.name %></td>
                    <td><a class="btn btn-warning" href="/category/edit/<%= cat.id %>" role="button">Редактировать</a>
                        <a class="btn btn-danger" href="/category/delete/<%= cat.id %>" role="button">Удалить</a>
                    </td>
                </tr>
                 <% }); %>

                </tbody>
              </table>
              <a class="btn btn-success" href="/category/add" role="button">Добавить новую</a>
</div>
<hr>