<div class="container">
        <br>
        <form id="editUser" action="/user/update/<%= user.id %>" method="POST" class="form-signin">
            <h2>Редактирование пользователя</h2>
            <br>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Логин" name="login" required value="<%= user.login %>">
            </div>
            <br>
            <div class="input-group">
                <input type="text" , class="form-control" , placeholder="Пароль" name="password" required value="<%= user.password %>">
            </div>
            <br>
            <div class="input-group">
                <input type="text" , class="form-control" , placeholder="Имя" name="name" required value="<%= user.name %>">
            </div>
            <br>
            <div class="input-group">
                <input type="text" , class="form-control" , placeholder="Фамилия" name="lastname" required value="<%= user.lastname %>">
            </div>
            <br>
            <div class="input-group">
                <input type="text" , class="form-control" , placeholder="E-Mail" name="email" required value="<%= user.email %>">
            </div>
            <br>
            <div class="input-group">
                    <select class="form-control" id="exampleFormControlSelect1" name="usergroup">
                            <%console.log(user.usergroup)%>
                            <% usergroup.forEach(function(group, i, arr) { %>
                                <% console.log(group.id) %>
                                <% if(user.usergroup == group.id) { %>
                                <option value="<%= group.id %>" selected>
                                    <% } else { %>
                                <option value="<%= group.id %>">
                                    <% } %>
                                    <%= group.name %>
                                </option>
                            <% }); %>
                    </select>
                  </div>
                  <br>
            <div class="input-group">
                <input type="submit" , class="btn btn-lg btn-primary btn-block" value="ОК">
            </div>
            <br>
            <input type="hidden" name="_csrf" value="<%= _csrf %>">
        </form>
    </div>
    