<div class="container">
    <h2><%= user.name %> <%= user.lastname %></h2>
    <hr>
    <p>Логин: <%= user.login %></p>
    <p>E-Mail: <%= user.email %></p>
    <p>Группа: <%= user.usergroup.name %></p>
    <hr>
</div>