<div class="container">
        <br>
        <form id="registerUser" action="/user/performRegister" method="POST" class="form-signin">
            <h2>Регистрация</h2>
            <br>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Логин" name="login" required>
            </div>
            <br>
            <div class="input-group">
                <input type="password" , class="form-control" , placeholder="Пароль" name="password" required>
            </div>
            <br>
            <div class="input-group">
                <input type="text" , class="form-control" , placeholder="Имя" name="name" required>
            </div>
            <br>
            <div class="input-group">
                <input type="text" , class="form-control" , placeholder="Фамилия" name="lastname" required>
            </div>
            <br>
            <div class="input-group">
                <input type="text" , class="form-control" , placeholder="E-Mail" name="email" required>
            </div>
            <br>
            <div class="input-group">
                <input type="submit" , class="btn btn-lg btn-primary btn-block" value="ОК">
            </div>
            <br>
            <input type="hidden" name="_csrf" value="<%= _csrf %>">
        </form>
    </div>
    