<div class="container">
        <h1>Пользователи</h1>
        <br>
            <table class="table table-hover table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Логин</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">E-Mail</th>
                        <th scope="col">Группа</th>
                        <th scope="col">Действия</th>
                      </tr>
                    </thead>
                    <tbody>
                           
                      <% users.forEach(function(user, i, arr) { %>
                        <tr>
                        <th scope="row"><%= user.id %></th>
                        <td><%= user.login %></td>
                        <td><%= user.name %></td>
                        <td><%= user.lastname %></td>
                        <td><%= user.email %></td>
                        <td><%= user.usergroup.name %></td>
                        <td><a class="btn btn-warning" href="/user/edit/<%= user.id %>" role="button">Редактировать</a>
                            <a class="btn btn-danger" href="/user/delete/<%= user.id %>" role="button">Удалить</a>
                        </td>
                    </tr>
                     <% }); %>
    
                    </tbody>
                  </table>
                  <a class="btn btn-success" href="/user/add" role="button">Добавить пользователя</a>
    </div>
    <hr>