
        <div class="container">
            <form id="added" action="/article/update/<%= article.id %>" method="POST" class="form-signin">
                <h2>Добавление HTML-редактора</h2>
                <br>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Название" name="name" required value="<%= article.name %>">
                </div>
                <br>
                <div class="input-group">
                    <select multiple form="added" name="categories" required>
                        <option disabled value="-1">Выберите категорию</option>
                        <% category.forEach(function(cat, i, arr) { %>
                            <% console.log(article.categories, cat); %>
                            <%if(_.includes(cats, cat.id)) {%>
                            <option selected value="<%= cat.id %>">
                            <%} else{ %>
                            <option value="<%= cat.id %>">
                                    <% }%>
                                <%= cat.name %>
                            </option>
                            <% }); %>
                    </select>
                </div>
                <br>
                <textarea name="content" id="summernote" style="width: 100%; min-height: 200px;" ><%= article.content %></textarea>
                <br>
                <div class="input-group">
                    <input type="submit" , class="btn btn-lg btn-primary btn-block" value="ОК">
                </div>
                <br>
                <input type="hidden" name="_csrf" value="<%= _csrf %>">
            </form>
        </div>
        <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
        <script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>